*.pyc
*~
*#
*.bak
doc/_build
doc/*.pdf
tests/.coverage*
build
dist
junk
sandbox
epicsapps/version.py
epicsapps.egg-info/top_level.txt
epicsapps.egg-info/dependency_links.txt
epicsapps.egg-info/PKG-INFO
epicsapps.egg-info/entry_points.txt
epicsapps.egg-info/requires.txt
epicsapps.egg-info/SOURCES.txt
